<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Personel_Bilgi_Sistemi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Personel_Bilgi_Sistemi.Properties.Settings.PersonelConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Personel.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Personel_Bilgi_Sistemi.Properties.Settings>
            <setting name="Personel_Bilgi_Sistemi_localhost_Service1" serializeAs="String">
                <value>http://localhost:47990/Service1.asmx</value>
            </setting>
        </Personel_Bilgi_Sistemi.Properties.Settings>
    </applicationSettings>
</configuration>